<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">

	<!-- Général -->
	<menuitem name="sc-root-general" order="-1000" title="Général" icon="fa-globe" icon-background="green" />
	
	<menuitem name="general-product" parent="sc-root-general" title="Produits"  action="ms.general.products" order="1"/>
	<action-view name="ms.general.products" title="Produits"
		model="com.axelor.apps.base.db.Product">
		<view type="cards" name="product-cards" />
		<view type="form" name="ms-product-form" />
	</action-view>

	<menuitem name="general-partner" parent="sc-root-general" title="Clients"  action="ms.general.customers" order="2"/>
	<action-view name="ms.general.customers" model="com.axelor.apps.base.db.Partner" title="Clients">
  		<view name="partner-cards" type="cards"/>
  		<view name="partner-customer-grid" type="grid"/>
  		<view name="ms-partner-customer-form" type="form"/>
  		<view-param name="limit" value="39"/>
  		<view-param name="search-filters" value="partner-filters"/>
  		<domain>self.isContact = false AND (self.isCustomer = true OR self.isProspect = true)</domain>
  		<context name="user_id" expr="eval:__user__"/>
  		<context name="_isCustomer" expr="true"/>
  		<context name="_domain" expr="self.isContact = false AND (self.isCustomer = true OR self.isProspect = true)"/>
	</action-view>

	<menuitem name="general-quotations" parent="sc-root-general" order="3"
		 title="Sale quotations" action="ms.general.quotations" />
	
	<action-view name="ms.general.quotations" title="Sale quotations"
		model="com.axelor.apps.sale.db.SaleOrder">
		<view type="cards" name="sale-order-quotation-cards" />
		<view type="grid" name="sale-order-quotation-grid" />
        <view type="calendar" name="sale-order-calendar" />
		<view type="form" name="ms-sale-order-form" />
		<view-param name="search-filters" value="sale-order-filters"/>
		<view-param name="forceTitle" value="true" />
		<domain>self.template = false and self.statusSelect &lt; 3</domain>
		<context name="_internalUser" expr="eval: __user__.id"/>
		<context name="_myActiveTeam" expr="call:com.axelor.apps.base.service.user.UserService:getUserActiveTeam()"/>
		<context name="_template" expr="eval:false" />
        <context name="todayDate" expr="eval: __config__.app.getTodayDate()"/>
	</action-view>	
	
	<menuitem name="general-dashboard" parent="sc-root-general" title="Dashboard"  action="ms.general.dashboard" order="4"/>
	<action-view name="ms.general.dashboard" model="saleman.dashboard.view.sample" title="Dashboard">
		<view type="dashboard" name="sale.saleman.dashboard.sample.1" />
	</action-view>
	
</object-views>
	